*.log
*.pot
*.pyc
__pycache__
.idea
.git
.venv
db.sqlite3
docker-compose.yml
docker-compose-pro.yml
crawler/static
crawler/celerybeat-schedule
crawler/celerybeat.pid
crawler_db_volume
crawler_redis_volume
db_backup
*.sql.gz
