__pycache__/
.env
.idea
.vscode
*.log
*.pot
*.pyc
*.rdb
*.sql
*.sql.gz
app/celerybeat-schedule
app/celerybeat.pid
crawler_db_volume/
crypto_assets/static
db_backup/
db.sqlite3
local_settings.py
redis_volume/
static/
todo
venv