
.dockerignore
.env
.idea/*
.vscode
*.log
*.pyc
*.sqlite3
app/asgi.py
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid
.vscode/tasks.json
.vscode/launch.json
.vscode/sftp.json
redis/dump.rdb
.dockerignore
.idea/*
README.md
app/asgi.py
