__pycache__/
.env
.idea
.vscode
*.log
*.pot
*.pyc
*.rdb
*.sql
*.sql.gz
app/celerybeat-schedule
app/celerybeat.pid
assets/
celerybeat-schedule
crawler_db_volume/
crawler_redis_volume/
crawler/static
db_backup/
db.sqlite3
local_settings.py
log/
static/
todo
venv