version: '3.4'

services:
  crawler_db:
    container_name: crawler_db
    image: mdillon/postgis:11
    restart: unless-stopped
    volumes:
      - /root/dbs/crawler:/var/lib/postgresql/data
  crawler:
    image: crawler
    container_name: crawler_django
    command: ["python", "/app/manage.py", "runserver", "0.0.0.0:8200"]
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports: 
      - 8200:8200
    restart: unless-stopped
    environment:
      DEBUG: 'True'
  
  redis:
    image: redis
    container_name: crawler_redis
    volumes: 
      - ./redis:/data
    restart: always
    logging:
      driver: none
  
  celery_worker:
    image: crawler
    container_name: crawler_celery_worker
    volumes:
      - .:/app
    command: ["celery", "-A", "app", "worker", "-l", "info", "--pidfile="]
    restart: always
  
  celery_scheduler:
    image: crawler
    container_name: crawler_celery_scheduler
    volumes:
      - .:/app
    command: ["celery", "-A", "app", "beat", "-l", "info", "--pidfile="]
    restart: always
  
  chrome_browser:
    image: selenium/standalone-chrome
    container_name: crawler_chrome_browser
    logging:
      driver: none
    restart: always
