beautifulsoup4
celery
django==3.2.9
django-admin-rangefilter
django-clear-cache
django-editor-widgets
django-environ
django-json-widget
django-prettyjson
djangorestframework
envparse
gunicorn
ipython
linkedin-scraper
Pillow
pip-tools
psycopg2
python-dateutil
python-telegram-bot
redis
requests
selenium
selenium-wire
validators
