beautifulsoup4==4.9.0
celery==4.4.2
django-admin-rangefilter==0.6.3
django-clear-cache==0.3
django-editor-widgets==3.0
django-environ==0.4.5
django-json-widget==1.0.1
django-jsonfield==1.4.0
django-prettyjson==0.4.1
django==3.0.5
djangorestframework==3.11.0
envparse==0.2.0
gunicorn==20.0.4
ipython==7.19.0
linkedin-scraper==2.9.0
Pillow==7.2.0
psycopg2==2.8.5
python-dateutil==2.8.1  
python-telegram-bot==12.7
redis==3.4.1
requests==2.23.0
selenium-wire==1.0.11
selenium==3.141.0
validators==0.18.2