beautifulsoup4
celery
django-admin-rangefilter
django-clear-cache
django-editor-widgets
django-environ
django-prettyjson
django==3.2.9
djangorestframework
envparse
gunicorn
ipython
linkedin-scraper
Pillow
pip-tools>=6.8.0
psycopg2
python-dateutil
python-telegram-bot
redis
requests
selenium
selenium-wire
validators
